*{
    padding: 0;
    margin: 0;
    color:rgb(127, 127, 207);
    text-align: center;
}

html, body{
    background-color: rgb(231, 231, 215);
}

.conteriner-main{
    border: 7px solid #FF88AA;
    border-radius: 50px;
    margin: 2rem;
    background-color: rgb(149, 108, 187);
}

nav, section, footer, aside, article{
    border: 4px solid rgb(212, 160, 224);
    margin: 1rem;
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
}

article, aside{
    width: 40%;
    display: inline-flex;
    height: 300px;
}

nav, footer, section{
    background-color: darkgray;
}

img{
    width: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

a{
    position: absolute;
    left: 0;
}