body{
    background-color: rgb(249, 249, 249);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(86, 120, 190);
    color: white;
    padding: 10px;
    position: relative;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 24px;
}

header a#img{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

img{
    width: 40px;
    align-items: center;
}

footer{
    background-color: rgb(86, 120, 190);
    height: 40px;
    margin-top: 20px;
}

a{
    color: #9fd0ff;
}